.container {
  display: flex;
  flex-direction: column;
  gap: 2rem;

  .setting {
    display: flex;
    gap: 2rem;
  }

  .btnBox {
    display: flex;
    gap: 1.5rem;
    justify-content: flex-end;
  }
}
