.titleBox {
  margin-bottom: 4.5rem;

  .title {
    display: flex;
    justify-content: space-between;
    gap: 2.2rem;

    .text {
      display: flex;
      gap: 2.2rem;

      h2 {
        font-size: 2.1rem;
        margin-bottom: 1.2rem;
      }

      div {
        margin-top: 0.3rem;
        width: 5rem;
        height: 2rem;
        font-size: 1rem;
      }
    }

    .dttm {
      display: flex;
      flex-direction: column;
      gap: 0.5rem;

      span {
        font-size: 1.1rem;
        font-weight: 500;
      }
    }
  }

  .descPhrase {
    margin-bottom: 1.5rem;
    font-size: 1.2rem;
  }

  .warnBox {
    display: flex;
    gap: 0.5rem;
    align-items: flex-start;
    padding: 0.7rem;
    background-color: rgba(255, 0, 0, 0.2);

    .warnPhrase {
      font-size: 1rem;
      font-weight: 600;
      color: #f00;
      line-height: 1.3rem;
    }
  }
}

.note {
  margin-bottom: 1.5rem;
  width: 60%;
  font-size: 1.2rem;
  font-weight: 500;
}
