.review {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;

  .stars {
    display: flex;
    justify-content: center;
    gap: 1.5rem;

    .star {
      width: 3rem;
      height: 3rem;
    }

    .scored,
    .half {
      color: hsl(60, 80%, 45%);
    }
  }

  .scoreBox {
    display: flex;
    justify-content: center;
    font-size: 1.3rem;
    font-weight: 600;
  }
}
