.card {
  border: 0.1rem solid #ddd;
  padding: 1.5rem;

  .listBox {
    display: flex;
    flex-direction: row;
    gap: 1.5rem;

    ul {
      display: flex;
      flex-direction: column;
      justify-content: center;
      width: 50%;
      gap: 1.2rem;
      height: 9rem;

      li {
        display: flex;
        align-items: center;
        gap: 5rem;
        font-size: 1.4rem;

        strong {
          width: 10%;
          font-weight: 700;
        }

        span {
          width: 90%;
        }

        div {
          display: flex;
          gap: 1.5rem;
          flex-direction: row;
          align-items: center;
          width: 90%;

          .left {
            width: 15%;
          }
        }
      }
    }
  }
}
