.content {
  display: flex;
  justify-content: center;
  margin: auto 0;
  width: 100%;

  .selectorTextField {
    display: flex;
    gap: 13rem;

    div {
      strong {
        width: 15rem;
        font-weight: 500;
      }

      span {
        width: 15rem;
      }
    }
  }
}
