.radioRow {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.radioRow > div {
  position: relative;
  border-radius: 100%;
  border: 0.1rem solid #999;
  width: 1.8rem;
  height: 1.8rem;
}

.radioRow .checkeBall {
  content: "";
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  width: 70%;
  height: 70%;
  background-color: #bcb3ff;
}

.radioRow.checked > div {
  box-shadow: 0 0 0 0.1rem #1a32f6;
}

.radioRow.checked .checkeBall {
  display: block;
}

.radioRow:hover {
  cursor: pointer;
}
