.switch {
  display: flex;
  gap: 1.7rem;
  align-items: center;
  width: 30%;

  &:hover {
    cursor: pointer;
  }

  .stick {
    position: relative;
    border-radius: 50rem;
    width: 5rem;
    height: 1.5rem;
    background-color: #ddd;

    &::after {
      content: "";
      position: absolute;
      top: -30%;
      left: 0;
      border-radius: 50%;
      width: 2.3rem;
      height: 2.3rem;
      background-color: #fff;
      box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
      transition: 0.2s;
    }
  }

  .stick.active {
    background-color: #bcb3ff;

    &::after {
      left: calc(100% - 2.3rem);
    }
  }

  .label {
    font-size: 1.3rem;
  }
}
