.formPaper {
  display: flex;
  flex-direction: column;
  border: 0.1rem solid #ddd;

  .titleBar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 1.2rem;
    background-color: #fff;

    .left {
      font-size: 1.3rem;
      font-weight: 600;
    }

    .right {
      font-size: 1.3rem;
      font-weight: 600;
    }

    svg {
      width: 1.5rem;
      height: 1.5rem;
      cursor: pointer;
    }
  }

  .main {
    padding: 0 1.2rem;
    background-color: #fff;
  }
}
