.formPaper {
  display: flex;
  flex-direction: column;
  background-color: #cdf4ff;

  .titleBar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 1.2rem;
    border-bottom: 0.1rem solid #f9f9f9;

    .left {
      font-size: 1.3rem;
      font-weight: 600;
    }

    .right {
      font-size: 1.3rem;
      font-weight: 600;
    }

    svg {
      width: 1.5rem;
      height: 1.5rem;
      cursor: pointer;
    }
  }

  .main {
    padding: 0 1.2rem;
    background-color: rgba(205, 244, 255, 0.1);
  }
}
