.listBtn {
  display: flex;
  justify-content: space-between;
  padding: 2.8rem 4.3rem;
  border-radius: 50rem;
  width: 100%;
  background-color: #f9f9f9;
  cursor: pointer;

  .center {
    display: flex;
    gap: 1.2rem;
  }

  .end {
    display: flex;
    gap: 1.2rem;
    align-items: center;
  }
}
