#listContainer {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  padding: 2rem 0;

  .tIcon {
    width: 2rem;
    height: 2rem;
    cursor: pointer;
  }

  .tTitle {
    font-size: 1.6rem;
  }
}
