.textField {
  border: 0.1rem solid #c9c9c9;
  padding: 0.8rem 1.5rem;
  font-size: 1.3rem;
}

.textField::placeholder {
  font-size: 1.1rem;
  text-align: center;
}

.textField:focus {
  outline: none;
}
