.titleBox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0.5rem;
  align-items: flex-start;

  .tTitle {
    font-size: 1.6rem;
  }

  span {
    font-size: 1.4rem;
  }
}

.updateField {
  position: absolute;
  left: 15%;
}

.updateField + svg {
  position: absolute;
  left: 29%;
  width: 1.8rem;
  height: 1.8rem;
}
