.qContainer {
  display: flex;
  flex-direction: column;
  padding: 3rem 0;
  align-items: center;
  gap: 2rem;

  .title {
    display: flex;
    align-items: flex-end;
    gap: 0.5rem;
    width: 100%;
    justify-content: center;

    h4 {
      font-size: 1.8rem;
    }

    strong {
      font-size: 1.3rem;
      font-weight: 500;
      color: #f00;
    }
  }

  .list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 3rem;
    width: 70%;
    max-width: 100%;

    .quest {
      display: flex;
      justify-content: center;
      gap: 2.5rem;
      width: 8%;
    }
  }
}
