.cardWrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 1rem 2rem;
  border: 0.1rem solid #d9d9d9;
  background-color: #fff;

  .labelGroup {
    margin-bottom: 2.1rem;
    .title {
      margin-bottom: 0.9rem;

      h4 {
        font-size: 1.7rem;
        font-weight: 600;
      }
    }

    .desc {
      font-size: 1.2rem;
    }
  }
}
