.qContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 1.5rem 0;

  .quest {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 2rem;
    max-height: 20rem;
  }

  .radioGrp {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 2rem;
    max-height: 20rem;
  }
}
