.qContainer {
  display: flex;
  flex-direction: column;
  padding: 3rem 0;
  align-items: center;
  gap: 2rem;

  .starts {
    display: flex;
    justify-content: center;
    gap: 1.5rem;

    svg {
      width: 3rem;
      height: 3rem;
      cursor: pointer;
    }
  }

  .scoreBox {
    display: flex;
    font-size: 1.3rem;
    font-weight: 600;
  }
}
