.content {
  display: flex;

  .left {
    display: flex;
    flex-direction: column;
    border-right: 0.1rem solid #ddd;
    width: 70%;
    gap: 2.5rem;
  }

  .right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0.5rem;
    padding: 0 1.5rem;

    .respType {
      display: flex;
      flex-direction: row;
      align-items: flex-start;
      justify-content: space-between;
      gap: 2rem;

      strong {
        font-size: 1.3rem;
      }
    }

    .respLimit {
      display: flex;
      flex-direction: column;
      gap: 0.5rem;

      strong {
        display: block;
      }

      .respEdit {
        padding: 1rem;
        height: 0.5rem;
      }
    }
  }
}
