.content {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.body {
  ul {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    list-style-type: none;

    li {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
  }
}
