.container {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding: 2rem 1.4rem;
  width: 60%;
  background-color: #fff;
  gap: 5rem;

  .surveyInfo {
    h2 {
      margin-bottom: 2.5rem;
      border: 0.1rem solid #ddd;
      padding: 4rem 0;
      font-size: 2.1rem;
      text-align: center;
    }

    span {
      display: block;
      text-align: center;
      font-size: 1.3rem;
    }
  }

  .userInfo {
    display: flex;
    flex-direction: column;
    gap: 1.2rem;

    h4 {
      margin-bottom: 1.5rem;
      font-size: 1.5rem;
    }

    ul {
      display: flex;
      flex-direction: column;
      gap: 1rem;

      li {
        strong {
          font-size: 1.3rem;
          font-weight: 400;
        }
      }
    }

    .btn {
      margin: 0 auto;
      width: 30% !important;
    }
  }
}
